<div class="row mt-2">
    <div class="col-lg-4 "></div>
    <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
        <div class="card-header text-center">Agregar Producto</div>
        <div class="card-body ">
            <form>
                <input type="text" class="form-control" placeholder="Ingrese Nombre">
                <input type="text" class="form-control mt-2" placeholder="Ingrese Descripcion">
                <input type="text" class="form-control mt-2" placeholder="Ingrese precio">
                <input type="text" class="form-control mt-2" placeholder="Ingrese stock">
                <div class="row mt-2 text-center">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-success mt-2">Aceptar</button>
                    </div>
                    <div class="col-lg-6">
                        <button routerLink="/" class="btn btn-secondary mt-2">Volver</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>