<div class="container">

    <h4>Listado De Productos</h4>
    <td><button type="button" class="btn btn-primary">Borrar</button></td>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descricion</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listProducts" class="table-active">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.price}}</td>
                <td>{{item.stock}}</td>
                <td><button type="button" class="btn btn-primary">Añadir</button></td>
                <td><button type="button" class="btn btn-primary">Borrar</button></td>
            </tr>
        </tbody>
    </table>
</div>